*.a
*.d
*.dylib
*.o
*.pc
*.so
*.so.*
*.ver
.*.swp
.config
.version
Session.vim
config.asm
config.fate
config.h
config.log
config.mak
ffmbc
ffmbc_g
ffprobe
ffprobe_g
libavutil/avconfig.h
tags
version.h
